{% load static %}

<div class="navbar">
    <div class="navbar-inner container-fluid p-h-lg">
        <div class="sidebar-pusher">
            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="logo-box">
            <a href="{% url 'index' %}" class="logo-text">
                <img src="{% static 'images/favicon.png' %}" alt="Icon" height="30">
                <span>Byte Trek</span>
            </a>
        </div><!-- Logo Box -->
        <div class="topmenu-outer">
            <div class="top-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="waves-effect waves-button waves-classic logout"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a>
                    </li>
                </ul><!-- Nav -->
            </div><!-- Top Menu -->
        </div>
    </div>
</div><!-- Navbar -->
</div>